<ul class="nav nav-tabs">
    <li ui-sref-active="active"><a ui-sref="app.settings.index" data-toggle="tab">General</a></li>
    <li ui-sref-active="active"><a ui-sref="app.settings.languages" data-toggle="tab">Languages</a></li>
    <li ui-sref-active="active"><a ui-sref="app.settings.profile" >Profile questions</a></li>
    <li ui-sref-active="active"><a ui-sref="app.settings.payments" >Payment methods</a></li>
    <!--<li ui-sref-active="active"><a ui-sref="app.settings.packages" >Packages</a></li>
    <li ui-sref-active="active"><a ui-sref="app.settings.admins" >Administrators</a></li>-->
</ul>