
<div class="container-fluid no-padding">      

    <div class="container-fluid main-content">



        <div class="row">
            <div class="col-md-12">  
                <br />
                <h3>Settings > profile</h3>
                <br /><br />
                <div ng-include="'app/settings/navbar.html'"></div>

                <br />
                <br />

                <div class="row">

                    <div class="col-md-3">  
                        <h4>Profile questions</h4>
                        <p> Edit your store information. The store name shows up on your storefront, while the title and meta description help define how your store shows up on search engines. </p>


                    </div>   

                    <div class="col-md-7  col-md-offset-1">  

                        <form ng-submit="saveDetails()">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Question 1</label>
                                <input type="text" class="form-control" placeholder="" ng-model="settings.question_1">
                            </div>
                        
                            <div class="form-group">
                                <label for="exampleInputEmail1">Question 2</label>
                                <input type="text" class="form-control" placeholder="" ng-model="settings.question_2">
                            </div>
                        
                            <div class="form-group">
                                <label for="exampleInputEmail1">Question 3</label>
                                <input type="text" class="form-control" placeholder="" ng-model="settings.question_3">
                            </div>
                        
                            <div class="form-group">
                                <label for="exampleInputEmail1">Question 4</label>
                                <input type="text" class="form-control" placeholder="" ng-model="settings.question_4">
                            </div>
                        
                            <div class="form-group">
                                <label for="exampleInputEmail1">Question 5</label>
                                <input type="text" class="form-control" placeholder="  " ng-model="settings.question_5">
                            </div>                    
							
                            <div class="form-group">
                                <label for="exampleInputEmail1">Question 6</label>
                                <input type="text" class="form-control" placeholder="  " ng-model="settings.question_6">
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                        <br />
                        <br />

                    </div>                       


                </div>                      
                <br />


            </div>      
            <br />
            <br />



        </div>
    </div>
</div>





