<div class="col-md-12">
    <div class="form-group">
        <label>UserName</label>
        <input type="text" name="name" ng-model="paymentMethod.data.UserName" class="form-control">
    </div>                
</div>


<div class="col-md-12">
    <div class="form-group">
        <label>Password</label>
        <input type="text" name="name" ng-model="paymentMethod.data.Password" class="form-control">
    </div>                
</div>


<div class="col-md-12">
    <div class="form-group">
        <label>Signature</label>
        <input type="text" name="name" ng-model="paymentMethod.data.Signature" class="form-control">
    </div>                
</div>


<div class="col-md-12">
    <div class="form-group">
        <label>Environment</label>
		<select ng-model="paymentMethod.data.Environment" ng-options="x for x in ['sandbox', 'live']" class="form-control">
		</select>
    </div>                
</div>




