<div class="col-md-12">
    <div class="form-group">
        <label>Secret key</label>
        <input type="text" name="name" ng-model="paymentMethod.data.secret_key" class="form-control">
    </div>                
</div>


<div class="col-md-12">
    <div class="form-group">
        <label>Publishable key</label>
        <input type="text" name="name" ng-model="paymentMethod.data.publishable_key" class="form-control">
    </div>                
</div>



