<!-- Static navbar -->
<nav class="navbar navbar-default navbar-top navbar-fixed-top" role="navigation">
	<div class="container-fluid max-width">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" ui-sref="app.members.index">couplet</a>
		<a href="{{API_URL}}" class="open-website"><i class="fa fa-external-link"></i></a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
                
        <li><a ui-sref="app.members.index">Members</a></li>
        <li><a ui-sref="app.subscription.index">Subscriptions</a></li>
        <li><a ui-sref="app.pages.index">Pages</a></li>
        <li><a ui-sref="app.themes.index">Themes</a></li>

		</ul>            
		<ul class="nav navbar-nav navbar-right hidden-xs">
		  <li class="hidden-sm"><a>Logged in as <strong>{{user.email}}</strong></a></li>
		  <li><a ui-sref="app.settings.index"><i class="fa fa-cog"></i></a></li>
			<!--<li ><a href="" ui-sref="auth.index"><i class="fa fa-tint"></i></a></li>-->
		  <li><a href="" ng-click="signOut()"><i class="fa fa-power-off"></i></a></li>
		</ul>
	  </div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>