<form name="form" ng-submit="submitForm(form.$valid)" novalidate qn:validate="errors">
    <div class="container-fluid main-content">
        <br /><br />
        <a ui-sref="app.pages.index"><i class="fa fa-chevron-left"></i> Back to list of pages</a>



        <div class="row">
            <div class="col-md-8">	

                <h3>{{title}}</h3><hr />

                <div class="panels panel-default">

                    <div class="panels-body">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Page title</label>
                                    <input type="text" class="form-control" ng-model="page.title" placeholder="Enter title here" ng-change="slugify(page.title)" required>
                                    <div ng-messages="form.title.$error" ng-if="form.$submitted" ng-messages-include="my-messages"></div>
                                </div>
                            </div>

                        </div>  

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Slug</label>
                                    <input type="text" class="form-control" ng-model="page.slug" placeholder="Enter title here">
                                    <div ng-messages="form.title.$error" ng-if="form.$submitted" ng-messages-include="my-messages"></div>
                                </div>
                            </div>

                        </div>  
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <ul id="myTab" class="nav nav-tabs" role="tablist" style="border: none;">
                                        <li role="presentation" ng-class="{active: editor == 'content'}"><a ng-click="editor = 'content'">Page content</a></li>
                                        <li ng-show="viewMode == 'edit' && page.meta.regions.length > 0" role="presentation" ng-class="{active: editor == 'components'}"><a ng-click="editor = 'components'">Regions</a></li>
                                        <li ng-if="false" role="presentation" ng-class="{active: editor == 'yaml'}"><a ng-click="editor = 'yaml'">Custom data (advanced)</a></li>
                                    </ul>

                                    <div ng-show="editor == 'content'">
                                        <textarea ckeditor="editorOptions" ng-model="page.content" ></textarea>
                                    </div>

                                    <div ng-show="editor == 'components'">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="panel panel-default">
                                                    <div class="panel-body" style="min-height: 350px;">


                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>Region</th>
                                                                    <th>Type</th>
                                                                    <th>Options</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="region in page.meta.regions">
                                                                    <td><a href="" ng-click="regionEdit(region.id, currentLocale)">{{region.name}}</a></td>
                                                                    <td>{{region.type}}</td>
                                                                    <td><a href="" ng-click="regionEdit(region.id, currentLocale)" class="muted"><i class="fa fa-pencil"></i> Edit</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="panel-footer"><h6><em>Click on a region to edit</em></h6></div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="editor == 'yaml'">
                                        <div ui-ace="{useWrapMode : true,showGutter: false,theme:'twilight',mode: 'yaml',firstLineNumber: 5,onLoad: aceLoaded,onChange: aceChanged}" ng-model="page.yaml"></div>
                                    </div>

                                </div>
                            </div>
                        </div>  



                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default" style="margin-top: 15px">
                            <div class="panel-heading">SEO details</div>
                            <div class="panel-body">


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">SEO title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="page.seo_title">
                                        <span id="helpBlock" class="help-block">Ideally a maximum of 70 characters</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Meta description</label>
                                    <div class="col-sm-10">
                                        <textarea rows="3" class="form-control" ng-model="page.seo_meta_description"></textarea>
                                        <span id="helpBlock" class="help-block">Ideally a maximum of 160 characters</span>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Meta keywords</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="page.seo_meta_keywords">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default" style="margin-top: 15px">
                            <div class="panel-heading">Publish</div>
                            <div class="panel-body">

                                <!--<p ng-show="page.status == 'DRAFT'">Status: <strong>Draft</strong> <a href="" ng-click="page.status = 'PUBLISHED'">(toggle)</a></p>
<p ng-show="page.status == 'PUBLISHED'">Status: <strong>Publish</strong> <a href="" ng-click="page.status = 'DRAFT'">(toggle)</a></p>-->
                                <p ng-show="page.visibility == 'HIDDEN'">Visibility: <strong>Hidden</strong> <a href="" ng-click="page.visibility = 'VISIBLE'">(toggle)</a></p>
                                <p ng-show="page.visibility == 'VISIBLE'">Visibility: <strong>Visible</strong> <a href="" ng-click="page.visibility = 'HIDDEN'">(toggle)</a></p>

                                <!--<div class="form-group">
                                    <label>Template</label>
                                    <select class="form-control" ng-model="page.template" ng-options="template.view as template.name for template in templates"></select>
                                </div>-->


                                 <div class="form-group">
                                    <label>Route</label>
                                    <input type="text" class="form-control" ng-model="page.handler" placeholder="e.g. for-sale">
                                    <p class="help-block"><em>Used to link to call multilingual pages.</em></p>
                                </div>


                                <div class="form-group">
                                    <label>Language</label>
                                    <select class="form-control" disabled>
                                        <option>{{page.locale}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <button type="submit" ng-hide="saving" class="btn btn-primary">Save page</button>
                                <button type="button" ng-show="saving" class="btn btn-primary">Saving...</button>
                            </div>
                        </div>

                    </div>
                </div>            

                <!--<div class="row">
<div class="col-md-12">

<div class="panel panel-default" style="margin-top: 15px">
<div class="panel-heading">Attributes</div>
<div class="panel-body">


<div class="form-group">
<label>Template</label>
<input type="text" class="form-control" ng-model="page.template">
</div>

<div class="form-group">
<label>Language</label>
<input type="text" class="form-control" ng-model="page.locale">
</div>


</div>
</div>

</div>
</div>-->         


            </div>



        </div>			
        <br />
        <br />



    </div>
    </div>

</form>


<script type="text/ng-template" id="my-messages">
    <p ng-message="required" class="help-block">This field is required</p>
    <p ng-message="minlength" class="help-block">Input too short</p>
    <p ng-message="email" class="help-block">This field must be an email</p>
</script>