<div class="form-horizontal">

    <div class="panel panel-default">
        <div class="panel-heading">Member Roles</div>
        <div class="panel-body">
            
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Member type</label>
                    <select ng-model="member.is_admin" class="form-control" ng-options="o.v as o.n for o in [{ n: 'Adminstrator', v: 1 }, { n: 'Regular user', v: 0 }]">
                    </select>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="member.premium" ng-true-value="1" ng-false-value="0"> Premium member
                        </label>
                    </div>
                </div>
            </div>
            
        </div>

    </div>


</div>


</div>