<ul class="nav nav-tabs">
    <li ui-sref-active="active"><a ui-sref="app.subscription.index" data-toggle="tab">Latest subscriptions</a></li>
    <li ui-sref-active="active"><a ui-sref="app.subscription.pricing" data-toggle="tab">Pricing model</a></li>
</ul>