

<form class="form-horizontal" ng-submit="saveDetails()">
<div class="container-fluid no-padding">			

    <div class="container-fluid main-content">

        <div class="row">
            <div class="col-md-12">	
                

                <br />
                <div class="row">
                    <div class="col-md-8">  
                        <h3>Subscription plans</h3> <br />
                    </div>
                </div>
                                <div ng-include="'app/subscription/navbar.html'"></div>

                <br />
                <br />
        <div class="row">

            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Transaction ID</th>
                                    <th>Gateway</th>
                                    <th>Amount</th>
                                    <th>Currency</th>
                                    <th>User</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="payment in payments">
                                    <th scope="row"> {{payment.customer_id}}</th>
                                    <td>{{payment.payment_method}}</td>
                                    <td>{{payment.amount}}</td>
                                    <td>{{payment.currency}}</td>
                                    <td>{{payment.user.email}}</td>
                                    <td>{{payment.created_at}}</td>
                                </tr>
                            </tbody>
                        </table>
						<br />
							<ul uib-pagination style="margin-top: 0px;  margin-bottom: 0; " total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="false" rotate="true" num-pages="numPages"  ng-change="pageChanged()"></ul>

                    </div>
                </div>

            </div>

                        <div class="col-sm-3">
                        <div class="well">


                    <strong>Latest transactions</strong>
                    <hr />
                    <p>Use this page to monitor which users have subscribed to your website.</p>



            </div>
            </div>


        </div>



            </div>

        </div>			
        <br />
        <br />

    </div>
</div>
</form>