<form class="form-horizontal" ng-submit="saveDetails()">
<div class="container-fluid no-padding">			

    <div class="container-fluid main-content">

        <div class="row">
            <div class="col-md-12">	
                

                <br />
                <div class="row">
                    <div class="col-md-8">  
                        <h3>Subscription plans</h3>
                    </div>
                </div>
                <br />
                                <div ng-include="'app/subscription/navbar.html'"></div>

                <br />
                <br />
        <div class="row">

            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading" style="border-bottom: 1px solid #e2e2e2">
                                Free membership limits
                            </div>
                            <div class="panel-body">


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Number of private messages</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="settings.private_message_limit">
              <p class="help-block">The number of private messages a free member can send a month.</p>
    </div>

  </div>
  <br />
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Number of chats messages</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" ng-model="settings.chat_message_limit">
                    <p class="help-block">The number of messages a free member can send a month.</p>

    </div>
  </div>
<br />
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Can see liked members</label>
    <div class="col-sm-4">
        <select class="form-control" ng-model="settings.can_see_liked"
            ng-options="o.v as o.n for o in [{ n: 'No', v: 'No' }, { n: 'Yes', v: 'Yes' }]">
    </select>
                    <p class="help-block">Can free members see who liked them?</p>
    </div>
  </div>
  <br />
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Can have a private gallery</label>
    <div class="col-sm-4">
        <select class="form-control" ng-model="settings.can_have_private_gallery"
            ng-options="o.v as o.n for o in [{ n: 'No', v: 'No' }, { n: 'Yes', v: 'Yes' }]">
    </select>
                    <p class="help-block">Can free members have a private gallery?</p>
    </div>
  </div>
  <br />
      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Can see gallery</label>
    <div class="col-sm-4">
        <select class="form-control" ng-model="settings.can_see_gallery"
            ng-options="o.v as o.n for o in [{ n: 'No', v: 'No' }, { n: 'Yes', v: 'Yes' }]">
    </select>
      
        <p class="help-block">Can free members see a gallery from another member?</p>
    </div>
  </div>
  <br />
      <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Can change display name</label>
    <div class="col-sm-4">
        <select class="form-control" ng-model="settings.can_change_display_name"
            ng-options="o.v as o.n for o in [{ n: 'No', v: 'No' }, { n: 'Yes', v: 'Yes' }]">
    </select>
      
        <p class="help-block">Can free members see a gallery from another member?</p>
    </div>
  </div>


                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>

                        <div class="col-sm-3">


                    <h5>Subscription pricing to by-pass limits</h5>
                    <hr />
                    <div class="panel panel-default">
                        <div class="panel-heading" style="border-bottom: 1px solid #e2e2e2">Monthly price</div>
                        <div class="panel-body">
                            <div class="input-group">
                                <div class="input-group-addon">{{settings.default_currency}}</div>
                                    <input class="form-control" name="fullname" type="text" value="" ng-model="settings.price_30" >
                                </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="border-bottom: 1px solid #e2e2e2">3 month price</div>
                        <div class="panel-body">
                                
                                <div class="input-group">
                                <div class="input-group-addon">{{settings.default_currency}}</div>
                                    <input class="form-control" name="fullname" type="text" value="" ng-model="settings.price_90" >
                                </div>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="border-bottom: 1px solid #e2e2e2">6 month price</div>
                        <div class="panel-body">
                            <div class="input-group">
                                <div class="input-group-addon">{{settings.default_currency}}</div>
                                    <input class="form-control" name="fullname" type="text" value="" ng-model="settings.price_180" >
                                </div>
                        </div>
                    </div>

                            <input class="btn btn-primary btn-block" type="submit" value="Save">



            </div>


        </div>



            </div>

        </div>			
        <br />
        <br />

    </div>
</div>
</form>