<div class="container-fluid no-padding">			

    <div class="container-fluid main-content">

        <div class="row">
            <div class="col-md-12">	
                

                <br />
                <div class="row">
                    <div class="col-md-8">  
                        <h3>Themes</h3>
                    </div>
                </div>
                <br />


                <div class="row">
                    
                    <div class="col-md-12">	
                        
                        <div class="row">
                                <div class="col-sm-6 col-md-4" ng-repeat="theme in themeList">
                                    <div class="thumbnail">
                                        <img ng-src="{{theme.screenshot}}" alt="...">
                                        <div class="caption">
                                            <h3>{{theme.name}} <span class="badge" ng-show="settings.theme == theme.name">active</span></h3> 
                                            <p><a href="" ng-click="setTheme(theme.name)" class="btn btn-primary" role="button">Select this theme</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


															
                        </div>
                    
                </div>

            </div>

        </div>			
        <br />
        <br />

    </div>
</div>
